html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.root {
  margin: auto;
  width: 500px;
  height: 500px;
}

.links {
  padding-top: 1em;
  float: left;
  padding-right: 3em;
}

.links > li {
  padding-bottom: 1em;
}

p {
  clear: left;
}

.email {
  padding-top: 2em;
}
