
.root {
  padding: 0;
  font-size: 0.5in;
}

h1 {
  font-size: 0.5in;
  margin: 0;
  padding-left: 0.1in;
  padding-right: 0.1in;
  padding-top: 0.15in;
  padding-bottom: 0.15in;
}

.links {
  margin: 0;
  padding: 0;
  float: none;
}

.links > li {
  margin: 0;
  padding-left: 0.1in;
  padding-right: 0.1in;
  padding-top: 0.15in;
  padding-bottom: 0.15in;
}

li, h1, p.email {
  border-bottom: 0.02in solid #000000;
}

.email {
  margin: 0;
  padding-left: 0.1in;
  padding-right: 0.1in;
  padding-top: 0.15in;
  padding-bottom: 0.15in;
}

